<!--
View file for 'Home' tab in the web application
@Version 1.0
@author Nikita Bahl
-->
<html>
<head>
  <title>User Information</title>
    <meta charset = "UTF-8" />
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h2>User Information</h2>
	<div class="nav_bar">
	   <ul>
           <li><a href="/index" id="onlink">Home</a></li>
           <li><a href="/add">Add User</a></li>
           <li><a href="/delete">Delete User</a></li>
           <li><a href="/users">Display Users</a></li>
           <li><a href="/display">Find User</a></li>
       </ul>
	</div>
    <div class="main_container">
      <br><br><br>
      <b><i>Add User</b></i> : Tab for adding a user to the system<br><br><br><br><br>
      <b><i>Delete User</b></i> : Tab for removing a user from the system<br><br><br><br><br>
      <b><i>Display Users</b></i> : Shows a list of all existing users in the system<br><br><br><br><br>
      <b><i>Find User</b></i> : Shows Information about a particular user<br><br><br><br><br>
    </div>
</body>
</html>
